<!DOCTYPE html>
<html lang="es-cl">
<head>
    {# archivo #}
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDSNiños</title>
    <link rel="stylesheet"  href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static '/css/flexboxgrid.css' %}">
    <link  href="{% static '/https://fonts.googleapis.com/css?family=Roboto&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet"  href="{% static '/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css' %}">
    <link rel="stylesheet"  href="{% static '/css/style.css' %}">
    <link rel="shortcut icon"  href="{% static '/img/65922.png' %}" type="image/x-icon">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark header">
                <a class="navbar-brand"  href="{% static '/#' %}">
                        <img src="{% static '/img/boy-1299574_640.png' %}" alt="logo" srcset="" height="50">
                    </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link"  href="#">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  href="loginputoosss.html">Ingreso</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  href="niñoniña.html">Ingreso</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link"  href="login.html">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="micuerpo.html">Yo se cuidar mi cuerpo</a>
                              </li>
                          </ul>
                        </div>
                      </nav>
